<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script data-require="angular.js@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.1.1" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script data-require="angular-animate@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>
    <link rel="stylesheet" href="static/app.css" />
    <script src="static/appjson.js"></script>
  </head>
<script>
</script>
<body>
  <div ng-controller='AnimateController'>
    <h3>[[title]]</h3>

    <input type='text' ng-model='listElement'>
    <button class='btn-success small' ng-click='addToList()'>Add</button>
    <ul>
      <li class='animate-list' ng-repeat='item in list' class='enter'>
        [[item.title]]
      </li>
    </ul>
  </div>

    <div id="datamodel2" ng-controller="SuperListController">
    <table border="1" width="40%">
       <tr ng-repeat="item in otherlist">
           <td>[[ $index+1 ]] : </td>
          <td>[[ item.title ]]</td>
       </tr>
     </table>
   </div>
   <div id="datamodel3" ng-controller="SuperListController">
   <table border="1" width="40%">
      <tr ng-repeat="value in series">
        <td>[[ $value.title ]]</td>
      </tr>
    </table>
  </div>
       <!--
       <div id="datamodel" ng-controller="SuperListController">
         <h3>[[title]]</h3>

         <input type='text' ng-model='listElement'>
         <button class='btn-success small' ng-click='addToList()'>+</button>

         <ul>
           <li class='animate-list' ng-repeat='item in Profiles' class='enter'>
             [[item.data.title]]
           </li>
         </ul>
       </div>-->
  </body>

</html>
